<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CompetApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">

                {% if is_granted("ROLE_ADMIN") %}

                <li class="nav-item">
                    <a class="nav-link active" href="#">ACCEUIL
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
    <li class="nav-item" id="AdminProfil">
        <a class="nav-link" href="#">Mon profil</a>
    </li>
    <li class="nav-item" id="GererNomenc">
        <a class="nav-link" href="#">Gérer nomenclature</a>
    </li>
    <li class="nav-item" id="GererDocs">
        <a class="nav-link" href="#">Gérer les documents</a>
    </li>
    <li class="nav-item" id="GererUtil">
        <a class="nav-link" href="#">Gérer les utilisateurs</a>
    </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Me deconnecter</a>
                </li>

{% elseif is_granted("ROLE_COLLABORATEUR") %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">ACCEUIL
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes documents</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Me deconnecter</a>
                </li>

                {% elseif is_granted("ROLE_COMMERCIAL") %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">ACCEUIL
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil collaborateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil candidat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Me deconnecter</a>
                </li>


                {% else %}
    <li class="nav-item">
                    <a class="nav-link active" href="#">ACCEUIL
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A PROPOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_authentification') }}">Login</a>
                        <a class="nav-link" href="#">Créer un compte</a>
                    </li>
{% endif %}
                </ul>
            </form>
        </div>
    </div>
</nav>


